@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

#main-menu {
    position: fixed;
    width: 100%;
    left: 0;
    background: #FFFFFF;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 0;
}

.children-mr10 button {
    margin-right: 10px;
}

#main-menu .ant-menu-root {
    width: 100%;
    left: 0;
    right: 0;
}

#root-with-header {
    position: relative;
    top: 50px;
    padding: 10px;
}

.no-background {
    background: none !important;
}

.mb10 {
    margin-bottom: 24px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .ant-col-xs-0 {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    .ant-col-sm-0 {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .ant-col-md-0 {
        display: none !important;
    }
}
